@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-black">
    <h1 class="display-3">Scripture Journal</h1>
    <p>Learn about <a href="https://www.churchofjesuschrist.org/study/scriptures?lang=eng&platform=web">Jesus Christ from ancient scripture</a>!</p>
    <div class="bom-img">
        <img src="~/Mormon-book.jpg" alt="BOM image" />
    </div>
    
</div>
